*{
  box-sizing: border-box;
}

main {  
	display: flex;
	flex-wrap: wrap;
}

#port {
	flex: 90%;
	background-color: white;
	padding: 20px; margin: 25px;
	border: 0.2vw solid #091C79;
	border-radius: 20px; height: 50%;
	box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 500px) 
{
	main{   
    	flex-direction: column;
	}
}
